/*Universal selector*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*Remove bullet poinrs from all list items*/
ul li {
    list-style: none;
}

/*Remove underline from all links*/
a {
    text-decoration: none;
}

/*Navigation bars(header)*/
/*main header container*/
header {
    width: 100%;
    height: 4.5rem;
    border-bottom:2px solid skyblue;
    background-color: navy;
    position: sticky;
    top: 0;
    z-index: 50;
}

/*Navigation container insider header*/
header nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 1rem;
}

/*Hide desktop navigation links and signup button on mobile*/
header .desktop-nav-links,
header nav > a {
    display: none;
}

/*LOGO STYLING*/
/*logo container*/
.logo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

/*logo icon (first child)*/
.logo span:nth-child(1) {
    background-color: rgba(135, 207, 235, 0.874);
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 6px;
}

/*Logo text (second child)*/
 
.logo span:nth-child(2) {
    font-weight: 600;
    background-color: rgba(135, 207, 235, 0.874);
    color: blue;
    display: flex;
    justify-content: center;
    width: 3rem;
    height: 2rem;
    align-items: center;
    border-radius: 6px;
}

/*Mobile dropdown menu*/
.mobile ul.mobile-dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: aqua;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    width: 60%;
    max-width: 12rem;
    height: calc(100vh - 4.5rem);
    padding: 2rem 1rem;
    display: none;
    flex-direction: column;
    gap: 1.5rem;
}

/*Mobile menu link styles*/
.mobile a {
    color: black;
    font-weight: 500;
    font-size: 0.95rem;
}

/*Fourth menu item (Sign Up button) in mobile dropdown*/
ul.mobile-dropdown li:nth-child(4) a {
    background-color: blue;
    color: azure;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0.4rem 0;
    border-radius: 5px;
}

/*Mobile menu toggle botton*/
.mobile button {
    font-size: 1.1rem;
}

/*hero/banner section*/
.hero {
    width: 100%;
    min-height: calc(100vh - 6.5rem);
    background-image: url(../images/mercy-working.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

/*dark overlay on hero background*/
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;background-color: rgba(35, 10, 132, 0);
}


/*Hero main heading*/
.hero h1 {
    color: blue;
    z-index: 3;
    text-align: center;
    font-size: 2.5rem;
}
/*Hero description paragraph*/
.hero p {
    z-index: 3;
    color: blue;
    font-size: 1.2rem;
    text-align: center;
    width: 90%;
    max-width: 35rem;
}

/*About section*/
/*About section container*/
.about me {
    width: 100%;
    max-width: 35rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,150px);
    gap: 1rem;
}


